.logo {
    height: 80px;
    // border: 1px solid red;
    background-color: #ececec;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

li.router-link-active {
    background-color: white;
    a {
        color: #0b3084 !important;
    }
}

button {
    border: none;
    background: transparent;
    color: white;
}

input {
    background-color: transparent;
    color: white;
}

@media  screen and(max-width: 576px) {
    .logo {
        // border: 1px solid black;
        height: 60%;
        // border: 1px solid red;
        background-color: #ececec;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
    }
  }