<div class="p-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="custom-card">
                <div class="custom-card-subtitle py-2">INFORMATIQUE ET TELECOMMUNICATION </div>
                <div class="custom-card-image" >
                    <img src="./assets/img/img3.jpg" class="w-100" width="300px" alt="logo"><br>
                </div>
                <div class="custom-card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quasi laboriosam deleniti, eveniet
                    nulla
                    quam commodi delectus odio, aut corporis quibusdam voluptas ullam voluptate nobis sit ipsum beatae
                    sunt
                    esse.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="custom-card">
                <div class="custom-card-subtitle py-2">GENIE LOGOCIEL </div>
                <div class="custom-card-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et aspernatur porro ex dignissimos autem
                    beatae odio. Excepturi ea ipsa perspiciatis. Ipsa, nihil minus. Quidem non molestiae nulla.
                    Obcaecati,
                    numquam cupiditate.
                </div>
            </div>
        </div>
    </div>
</div>