<div class="page">
    <div class="pt-5">
        <div class="custom-card">
            <div class="row">
                <div class="col-md-4">
                    <img src="./assets/img/logo2.png" class="w-100" width="300px" alt="logo"><br>
                </div>
                <div class="col-md-8">
                    <h2 class="text-primary">LEOTECH</h2>
                    <div class="custom-card-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quasi laboriosam deleniti,
                        eveniet
                        nulla
                        quam commodi delectus odio, aut corporis quibusdam voluptas ullam voluptate nobis sit ipsum
                        beatae
                        sunt
                        esse.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-6 col-sm-12">
            <div class="custom-card">
                <div class="custom-card-subtitle py-2">INFORMATIQUE ET TELECOMMUNICATION </div>
                <div class="custom-card-image">
                    <img src="./assets/img/img3.jpg" class="w-100" width="300px" alt="logo"><br>
                </div>
                <div class="custom-card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quasi laboriosam deleniti, eveniet
                    nulla
                    quam commodi delectus odio, aut corporis quibusdam voluptas ullam voluptate nobis sit ipsum beatae
                    sunt
                    esse.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="custom-card">
                <div class="custom-card-subtitle py-2">GENIE LOGOCIEL </div>
                <div class="custom-card-image">
                    <img src="./assets/img/img1.jpg" class="w-100" width="300px" alt="logo"><br>
                </div>
                <div class="custom-card-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et aspernatur porro ex dignissimos autem
                    beatae odio. Excepturi ea ipsa perspiciatis. Ipsa, nihil minus. Quidem non molestiae nulla.
                    Obcaecati,
                    numquam cupiditate.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="custom-card">
                <div class="custom-card-subtitle py-2">NUMERISATION/ARCHIVAGE DE DONNEES </div>
                <div class="custom-card-image">
                    <img src="./assets/img/img1.jpg" class="w-100" width="300px" alt="logo"><br>
                </div>
                <div class="custom-card-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et aspernatur porro ex dignissimos autem
                    beatae odio. Excepturi ea ipsa perspiciatis. Ipsa, nihil minus. Quidem non molestiae nulla.
                    Obcaecati,
                    numquam cupiditate.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="custom-card">
                <div class="custom-card-subtitle py-2">EQUIPEMENT DE SECURITE ET SURVEILLANCE </div>
                <div class="custom-card-image">
                    <img src="./assets/img/img1.jpg" class="w-100" width="300px" alt="logo"><br>
                </div>
                <div class="custom-card-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et aspernatur porro ex dignissimos autem
                    beatae odio. Excepturi ea ipsa perspiciatis. Ipsa, nihil minus. Quidem non molestiae nulla.
                    Obcaecati,
                    numquam cupiditate.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="custom-card">
                <div class="custom-card-subtitle py-2">SON & LUMIERE </div>
                <div class="custom-card-image">
                    <img src="./assets/img/img1.jpg" class="w-100" width="300px" alt="logo"><br>
                </div>
                <div class="custom-card-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et aspernatur porro ex dignissimos autem
                    beatae odio. Excepturi ea ipsa perspiciatis. Ipsa, nihil minus. Quidem non molestiae nulla.
                    Obcaecati,
                    numquam cupiditate.
                </div>
            </div>
        </div>
    </div>
</div>