<div class="page">
    <div class="row pt-4">
        <div class="col-md-6 col-sm-12">
            <div class="custom-card p-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-card-subtitle p-2 mb-3">
                            JOIGNEZ NOUS PAR:
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><img src="./assets/img/call.svg" width="40px" class="mr-3"
                                    alt="...">+228 xx xx xx xx | +228 xx xx xx xx</li>
                            <li class="list-group-item"><img src="./assets/img/whatsapp.svg" width="40px" class="mr-3"
                                    alt="...">+228 xx xx xx xx | +228 xx xx xx xx</li>

                            <li class="list-group-item"><img src="./assets/img/facebook.svg" width="40px" class="mr-3"
                                    alt="...">addresse 1| Adresse 2</li>

                            <li class="list-group-item"><img src="./assets/img/twitter.svg" width="40px" class="mr-3"
                                    alt="..."> compte 1 | compte2</li>
                            <li class="list-group-item"><img src="./assets/img/mail.svg" width="40px" class="mr-3"
                                    alt="...">infos@leotechint.com </li>
                                    <li class="list-group-item"><img src="./assets/img/map.svg" width="40px" class="mr-3"
                                        alt="...">Aflao Gakli Rue 129, Lomé-Togo</li>


                        </ul>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="media">
                            <img src="" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Email:</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="media">
                            <img src="" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Whatsapp:</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="media">
                            <img src="" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Facebook:</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="media">
                            <img src="" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Twitter:</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="custom-card">
                <div class="custom-card-subtitle p-2">
                    LAISSEZ NOUS UN MESSAGE
                </div>
                <form role="form" class="pt-4">
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Nom *</label>
                                    <input id="form_name" type="text" name="name" class="form-control"
                                        placeholder="Entrez votre nom" required="required"
                                        data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Prenom</label>
                                    <input id="form_lastname" type="text" name="surname" class="form-control"
                                        placeholder="Entrez votre prenom" required="required"
                                        data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control"
                                        placeholder="Entrez votre email" required="required"
                                        data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_phone">Contact</label>
                                    <input id="form_phone" type="tel" name="phone" class="form-control"
                                        placeholder="Entrez votre contact">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" class="form-control"
                                        placeholder="Ecrivez votre message ici *" rows="4" required="required"
                                        data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-send" value="Envoyer">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted"><strong>*</strong> Ces champs sont obligatoires.</p>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>