<footer>
    <div class="row">
        <div class="col-md-4 col-sm-12 mt-3">
            <div class="title">A propos</div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolorum a! Ab quod labore aut sed eum?
                Sapiente nostrum temporibus expedita aliquam quaerat neque harum. Hic, dignissimos nemo. Minima, rerum?
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-3">
            <div class="title">Contacts</div>
            <div class="content">
                <ul>
                    <li>Tel: +228 xx xx xx xx</li>
                    <li>  Adresse: xxxxxxxxxxxxx
                        xxxxxxxxxxxx</li>
                </ul>
                
              
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-3">
            <div class="title">Horaires d'ouverture</div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi consequuntur ad nostrum numquam
                excepturi. Maiores ipsa perspiciatis culpa unde sapiente. Suscipit corporis quos officiis aliquid sint
                temporibus veritatis dolore voluptate.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col2">
            <img src="./assets/img/whatsapp.svg" width="40px" alt="whatsapp">
        </div>
        <div class="col2">
            <img src="./assets/img/facebook.svg" width="40px" alt="facebook">
        </div>
        <div class="col2">
            <img src="./assets/img/twitter.svg" width="40px" alt="twitter">
        </div>
    </div>
</footer>